{% extends 'store/products.html' %}
{% load static %}
{% block content %}
			<div class="product-cart">
				<h4 class="page-banner-sm">Cart</h4>
				<div class="wrapper">

					<div class="cart-collection">
						<div class="cart-header">
							<p>Item</p>
							<p>Quantity</p>
							<p>Unit price</p>
							<p>Total</p>
						</div>
						{% if items %}
							{% for item in items %}
								<div class="cart-item">
									<form action="">
										<div class="cart-product">
											<div class="cart-image" style="background-image: url('{{ item.product.image.url }}');"></div>
											<div class="cart-product-info">
												<p class="cart-product-name">{{ item.product.name }}</p>
												<p class="cart-price-sm">€{{ item.product.price|floatformat:2 }}</p>
												<small>x {{ item.quantity }}</small>
											</div>
										</div>
										<div class="cart-quantity-md">
											<div class="cart-quantity-controls">
												<button data-action="remove" data-product="{{ item.product.id }}" class="update-cart" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
												<input class="quantity"  name="quantity"  type="number" min="0" value="{{ item.quantity }}" readonly>
												<button data-action="add" data-product="{{ item.product.id }}" class="update-cart" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
											</div>
										</div>
										<div class="cart-unit-price">
											<h4>€{{ item.product.price|floatformat:2 }}</h4>
										</div>
										<div class="cart-product-total">
											<h4>€{{ item.quantity_price|floatformat:2 }}</h4>
										</div>
										<div class="cart-controls-sm">
											<div class="remove">
												<a href="{% url 'delete' item.product.id %}" onclick="return confirm('Deleting this product!')" style="color:#333">
													<span class="ti-trash"></span> Remove
												</a>
											</div>
											<div class="cart-quantity-controls-sm">
												<button data-action="remove" data-product="{{ item.product.id }}" class="update-cart" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
												<input class="quantity"  name="quantity"  type="number" min="0" value="{{ item.quantity }}" readonly>
												<button data-action="add" data-product="{{ item.product.id }}" class="update-cart" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
											</div>
										</div>
									</form>
								</div>
							{% endfor %}
						{% else %}
							<img style="width:100%" src="{% static 'img/main/empty.png' %}">
						{% endif %}
					</div>

					{% if items %}
						<div class="cart-total-holder">
							<div class="cart-total">
								<p>Total: </p>
								<p>€{{ total|floatformat:2 }}</p>
							</div>
							<div class="cart-action-button">
								<a href="{% url 'store' %}">&#x2190; Continue shopping</a>
								<a href="{% url 'checkout' %}" class="btn-main">Proceed to checkout &#x2192;</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			{% if total_items <= 1 %}
			<div class="one-item">
				<br><br><br><br><br>
			</div>
			{% endif %}

{% endblock %}